body {
    background-color: #24435c;
    color: white;
    
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}












/* ==== Register Form ==== */
#registerForm {
    max-width: 400px;
    margin: 60px auto;
    background-color: #fff;
    padding: 30px 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#registerForm h3 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

#registerForm input[type="text"],
#registerForm input[type="email"],
#registerForm input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: 0.3s;
}

#registerForm input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0,123,255,0.4);
    outline: none;
}

#registerForm button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

#registerForm button:hover {
    background-color: #0056b3;
}

/* ==== Login Form ==== */
#loginForm {
    max-width: 400px;
    margin: 60px auto;
    background-color: #fff;
    padding: 30px 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#loginForm h3 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

#loginForm input[type="email"],
#loginForm input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: 0.3s;
}

#loginForm input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0,123,255,0.4);
    outline: none;
}

#loginForm button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

#loginForm button:hover {
    background-color: #0056b3;
}













.profile-container {
    width: 450px;
    margin: 40px auto;
    text-align: center;
}

.profile-card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px #ccc;
}

.profile-card p {
    margin: 10px 0;
    font-size: 17px;
}

.btn {
    display: inline-block;
    padding: 10px 18px;
    margin-top: 15px;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
}

.btn.blue { background: #007bff; }
.btn.red { background:#e63946;}